 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a keen problem solver who enjoys taking the initiative to learn and develop new skills which I am passionate about. I’m inspired by the power of new technology and want to use my career to help pursue positive change using it. Following my experience, I am determined to change my career path and learn new skills to develop a career in programming. </p>
                </div>
                <div class="col-lg-4">
                    <p>During my degree in geology at Imperial College London, I first gained experience in programming using Python to handle field data. Following this, I have spent time traveling and working varied job roles in research, marketing and surf instructing. After returning to the UK I have taken up my interest in programming, working on small company website and teaching myself new languages and skills. Now pursuing a career in which I can continue to develop these skills and use technical knowledge to contribute to larger projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/CV-SJMoosavinia.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
