 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A forward-thinking problem solver, pursuing practical solutions through good designs. Redefining antiquated standards through digital transformations to create streamlined user experiences. Working across different disciplines, focusing on the intersection between design and engineering, to connect people and their experiences. I am inspired by how people interact with the world and empowered by new technology to embrace yesterday's impossible.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently working as a System Planning Engineer at an electrical distribution network operator, streamlining network analysis and forecasting processes, as part of a wider upgrade of the data pipeline. In previous roles at other companies, I was a DevOps engineer to increase cohesion, productivity and visibility between teams across many timezones. I have also worked in an electronic R&amp;D role, developing state-of-the-art submarine surveying equipment.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/CV-ChungPoon.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
