 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a keen problem solver who enjoys taking the initiative to learn and develop new skills which I am passionate about. I’m inspired by the power of new technology and want to use it in a career in which I can help pursue positive change. I have redirected my path towards software testing as I have found my ability to listen to and understand users makes me well suited to supporting developers to solve problems and solve them well.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am an ISTQB-qualified software tester with three years of experience working in Agile development teams. After earning a scientific degree, I transitioned into software testing, where I’ve honed my skills in Agile project management, diverse testing techniques, and effective communication. I’m passionate about a quality-first approach and am eager to find a new role that will allow me to further develop my automation testing skills.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/CV-SJMoosavinia.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
